.txt-type > .txt {
  border-right: 0.2rem solid #222;
}

body {
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease-in-out;
}

#message {
  transition: all 0.3s ease-in-out;
}

select,
option {
  border-radius: 5px;
  padding: 0.3rem;
  cursor: pointer;
  outline: none;
  border: none;
}

#current-word {
  /* pointer-events: none; */
  user-select: none;
}
